* {
    font-family: 'Comfortaa', cursive;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	vertical-align: baseline;
}

p {
    color: white;
}

#content {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: #2a7ba9;
}

#top-area {
    padding-top: 3%;
    height:30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    gap: 15%;
}

.placement-div {
    width: 50%;
    height: 16%;
    text-align: center;
    color: white;
    font-size: 2rem;
}

.rotate-btn {
    width: 10%;
    height: 20%;
}

.rotate-btn:hover {
    cursor: pointer;
}

.start-btn {
    width: 7%;
    height: 20%;
    cursor: pointer;
}

#player-names {
    height: 8%;
    display: flex;
    justify-content: space-around;
}

#player-names > h3 {
    font-size: 2.7rem;
    color: white;
}

#main-gamezone {
    height: 50%;
    display: flex;
    justify-content: space-between;
    gap: 2%;
}

.player-ships-left {
    width: 10%;
}

.player-board {
    width: 25vw;
    height: 25vw;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(10, 1fr);
    gap: 1.1%;
}

.player-board > div {
    background-color: white;
}

.player-board > div:hover {
    cursor: pointer;
}

.placing-hover:hover {
    background-color: #feb05a;
}

.computer-board {
    width: 25vw;
    height: 25vw;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(10, 1fr);
    gap: 1.1%;
}

.computer-board > div {
    cursor: pointer;
    background-color: white;
}

.computer-ships-left {
    width: 10%;
}

#footer {
    margin-top: auto;
    text-align: center;
    font-size: 1.1rem;
    color: #feb05a;
    background-color: aliceblue;
}